<template>
  <div class="auth">
     <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane
        label="Login"
        name="first"
      >
        <Login />
      </el-tab-pane>
      <el-tab-pane
        label="Registration"
        name="second"
      >
        <Registration />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Login from '@/views/Login.vue';
import Registration from '@/views/Registration.vue';

export default defineComponent({
  name: 'Auth',
  components: {
    Login,
    Registration,
  },
  data() {
    return {
      activeName: 'first',
    };
  },
});
</script>
