<template>
  <div class="player">
    <el-form :model="registrationForm">
      <el-form-item>
        <input type="file" ref="uploader" @change="upload">
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onDownload">Download</el-button>
      </el-form-item>
      <el-form-item>
        <el-button @click.prevent="playSound">Play</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import store from '@/store';
// import UserService from '@/services/UserService';

export default defineComponent({
  name: 'Player',
  props: {
    msg: String,
  },
  methods: {
    async upload($event: any) {
      try {
        const files = $event?.target?.files;

        if (files) {
          await store.dispatch('uploadFiles', files);
        }
      } catch (err) {
        console.log('error', err);
      } finally {
        if ($event?.target?.value) {
          // $event.target.value = '';
        }
      }
    },
    async onDownload() {
      await store.dispatch('download');
    },
    async playSound() {
      const data = await store.dispatch('getFile');
      const audio = new Audio(data);
      audio.play();
    },
  },
});
</script>

<style scoped lang="scss">
</style>
