<template>
  <div class="registration">
    <el-form :model="registrationForm" label-width="120px">
      <el-form-item label="Login">
        <el-input v-model="registrationForm.username"></el-input>
      </el-form-item>
      <el-form-item label="Password">
        <el-input v-model="registrationForm.password" show-password/>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onRegistration">Registration</el-button>
        <el-button>Cancel</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import LoginEntity from '@/entity/LoginEntity';
import store from '@/store';

export default defineComponent({
  name: 'Registration',
  components: {
  },
  data() {
    return {
      registrationForm: {
        username: '',
        password: '',
      } as LoginEntity,
    };
  },
  methods: {
    onRegistration() {
      store.dispatch('registration', this.registrationForm);
    },
  },
});
</script>
